:root {
  --vp-c-brand-1: #00bb7f;
  --vp-c-brand-2: #027d56;
  --vp-c-brand-3: #048d62;
  --vp-c-form-error: #cc6464;
  --vp-c-bg-soft: #202127;
  --vp-c-border: #3c3f44;
  --vp-c-divider: #2e2e32;
  --vp-c-gutter: #000000;
  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);
}

body {
  padding: 100px 20px;
  width: 100%;
  position: relative;
}
#app {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  position: relative;
  padding: 20px 16px;
  background-color: var(--vp-c-bg-soft);
  border-radius: 8px;
  font-size: 16px;
  width: 600px;
  max-width: 100%;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
  padding: 40px;

  .fields {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
  }

  .projects {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    overflow-x: auto;
    border: 1px solid var(--vp-c-border);
    padding: 10px;
    border-radius: 8px;
    gap: 16px;

    .project {
      display: flex;
      flex-flow: column nowrap;
      padding: 20px;
      border: 1px solid var(--vp-c-border);
      border-radius: 8px;
      font-size: 14px;
      width: 100%;
      gap: 8px;
      flex: 0 0 auto;

      label {
        margin-bottom: 4px;
      }
      input {
        padding: 4px 8px;
        font-size: 14px;
      }

      .delete {
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
      }
    }
    .add {
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 0 20px;
      align-self: center;
      flex: 0 0 auto;
      button {
        flex: 0 0 auto;
      }
    }
  }

  .button-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
  }

  * {
    position: relative;
  }

  div.input-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    label {
      margin-bottom: 8px;

      .required-mark {
        color: var(--vp-c-form-error);
      }
    }
  }

  input,
  textarea {
    background-color: var(--vp-c-divider);
    padding: 12px 16px;
    border-radius: 6px;
    border: 1px solid var(--vp-c-border);
    font-family: var(--vp-font-family-base);

    font-size: 16px;

    &:not([type='checkbox']) {
      width: 100%;
    }

    &.valid {
      border-color: var(--vp-c-brand-1);
    }

    &.error {
      border-color: var(--vp-c-form-error);
    }

    &.pending {
      border-color: var(--vp-c-warning-2);
    }

    & + button {
      margin-left: 4px;
    }
  }

  .block {
    margin-bottom: 8px;
  }

  .list {
    display: grid;
    gap: 8px;
    max-width: none;

    .item {
      padding: 15px;
      border: 1px solid var(--vp-c-border);
      border-radius: 8px;
      width: max-content;

      .field {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .row {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }

  ul.errors {
    margin-top: 4px;
    margin-bottom: 0;
    color: var(--vp-c-form-error);
    padding-left: 20px;
    font-size: 14px;
    max-width: 100%;
    list-style: disc;

    li + li {
      margin-top: 4px;
    }

    &.standalone {
      margin-top: 0px;
    }
  }

  ul.tooltips {
    margin-top: 4px;
    margin-bottom: 0;
    color: #959595;
    padding-left: 20px;
    font-size: 14px;
    max-width: 100%;
    list-style: disc;

    li + li {
      margin-top: 4px;
    }

    &.standalone {
      margin-top: 0px;
    }
  }

  button {
    border-radius: 8px;
    color: var(--vp-c-text-1);
    padding: 8px 16px;
    font-size: 16px;
    background-color: var(--vp-c-indigo-3);
    cursor: pointer;

    &:hover:not(:disabled) {
      background-color: var(--vp-c-indigo-2);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--vp-c-gray-1);
    }

    + button {
      margin-left: 4px;
    }
  }

  & + .demo-container {
    margin-top: 20px;
  }

  .success {
    margin-top: 8px;
    color: var(--vp-c-brand-1);
  }

  .pending-text {
    color: var(--vp-c-warning-2);
  }

  .password-strength {
    margin: 8px 8px 0 8px;
    width: calc(100% - 15px);
    height: 4px;
    border-radius: 4px;
    border: 1px solid var(--vp-c-border);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background-color: var(--vp-c-form-error);
      transition: width 0.2s ease;
    }

    &.level-0 {
      &::before {
        width: 10%;
      }
    }
    &.level-1 {
      &::before {
        width: 40%;
        background-color: var(--vp-c-warning-2);
      }
    }
    &.level-2 {
      &::before {
        width: 75%;
        background-color: var(--vp-c-brand-1);
      }
    }
    &.level-3 {
      &::before {
        width: 100%;
        background-color: var(--vp-c-brand-1);
      }
    }
  }
}
