:root {
  --vp-c-brand-1: #00bb7f;
  --vp-c-brand-2: #027d56;
  --vp-c-brand-3: #048d62;
  --vp-home-hero-image-background-image: radial-gradient(rgb(191, 208, 191), rgb(90, 220, 189));
  --vp-home-hero-image-filter: blur(72px);
  --vp-c-form-error: #cc6464;
  --border-gradient: radial-gradient(ellipse at top, #12ca90, white);
}

html.dark {
  --vp-c-bg: #191a19;
  --vp-c-bg-alt: #131514;
  --border-gradient: radial-gradient(ellipse at top, #048d62, transparent),
    radial-gradient(ellipse at bottom, black, transparent);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, var(--vp-c-brand-1) 50%, var(--vp-c-brand-2) 50%);
}

.VPHero {
  @media (min-width: 960px) {
    .name,
    .text {
      line-height: 64px;
      font-size: 54px;
    }
  }
}

.VPFeature .VPImage {
  border-radius: 6px;
  background-color: var(--vp-c-default-soft);
  padding: 10px;
}

.vp-doc h3 > code {
  color: var(--vp-badge-warning-text);
}

iframe {
  border: 1px solid #4b4b4b;
  border-radius: 10px;
  width: 100%;
  height: 700px;
  margin-top: 40px;
}

.item .VPFeature {
  position: relative;
  padding: 2px;
  background-clip: content-box;
  border: none;
  overflow: hidden;
  background-color: var(--vp-c-bg-alt);

  &:before {
    content: '';
    position: absolute;
    top: -75%;
    right: 0;
    bottom: 0;
    left: -75%;
    z-index: -1;
    width: 250%;
    height: 250%;
    border-radius: inherit;
    background: var(--border-gradient);
    animation: rotate 3s infinite linear;
    animation-delay: 1s;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.VPHomeFeatures {
  margin-top: 80px;

  .icon {
    padding: 10px;
  }
}

.demo-container {
  position: relative;
  padding: 20px 16px;
  background-color: var(--vp-c-bg-soft);
  border-radius: 8px;
  font-size: 14px;

  * {
    position: relative;
  }

  div.input-container {
    max-width: 200px;
  }

  input {
    background-color: var(--vp-c-divider);
    padding: 4px 12px;
    border-radius: 6px;
    border: 1px solid var(--vp-c-border);
    font-size: 14px;

    &:focus {
      outline: none !important;
      box-shadow: none;
    }

    &:not([type='checkbox']) {
      width: 190px;
    }

    &[type='checkbox'] {
      width: 16px !important;
      padding: 0;
      margin-right: 6px;
      vertical-align: middle;
      border-radius: 5px;
    }

    &.valid {
      border-color: var(--vp-c-brand-1);
    }

    &.error {
      border-color: var(--vp-c-form-error);
    }

    &.pending {
      border-color: var(--vp-c-warning-2);
    }

    & + button {
      margin-left: 4px;
    }
  }

  .block {
    margin-bottom: 8px;
  }

  .list {
    display: grid;
    gap: 8px;
    max-width: none;

    .item {
      padding: 15px;
      border: 1px solid var(--vp-c-border);
      border-radius: 8px;
      width: max-content;

      .field {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 8px;

        .delete {
          cursor: pointer;
        }
      }
    }
  }

  .row {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }

  ul:not(.text-red-400) {
    margin-bottom: 0;
    color: var(--vp-c-form-error);
    font-size: 14px;
    max-width: 100%;

    li + li {
      margin-top: 8px;
    }

    &.standalone {
      margin-top: 0px;
    }
  }

  label {
    font-size: 14px;
  }

  .button-list {
    margin-top: 10px;
  }

  button {
    border-radius: 8px;
    color: var(--vp-c-text-1);
    padding: 4px 8px;
    background-color: var(--vp-c-gray-3);
    height: 34px;
    cursor: pointer;

    &:hover:not(:disabled) {
      background-color: var(--vp-c-gray-2);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--vp-c-gray-1);
    }

    + button {
      margin-left: 4px;
    }

    &.primary {
      background-color: var(--vp-c-brand-3);
      &:hover:not(:disabled) {
        background-color: var(--vp-c-brand-2);
      }
    }
  }

  & + .demo-container {
    margin-top: 20px;
  }

  .success {
    margin-top: 8px;
    color: var(--vp-c-brand-1);
  }

  .pending-text {
    color: var(--vp-c-warning-2);
  }

  .password-strength {
    margin: 8px 8px 0 8px;
    width: 170px;
    height: 4px;
    border-radius: 4px;
    border: 1px solid var(--vp-c-border);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background-color: var(--vp-c-form-error);
      transition: width 0.2s ease;
    }

    &.level-0 {
      &::before {
        width: 10%;
      }
    }
    &.level-1 {
      &::before {
        width: 40%;
        background-color: var(--vp-c-warning-2);
      }
    }
    &.level-2 {
      &::before {
        width: 75%;
        background-color: var(--vp-c-brand-1);
      }
    }
    &.level-3 {
      &::before {
        width: 100%;
        background-color: var(--vp-c-brand-1);
      }
    }
  }
}

h2 .header-anchor {
  opacity: 1 !important;
}

h2:has(+ h2) {
  font-size: 28px !important;
}

h2 + h2 {
  border-top: none !important;
}

.vp-doc li + li {
  margin-top: 14px;
}

@media (max-width: 640px) {
  // .vp-doc div[class*='language-'] {
  //   margin: 16px -16px;
  //   border-radius: 8px;
  // }
  .vp-code-group .tabs {
    margin-left: -16px;
    margin-right: -16px;
  }
}

[data-title]::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  margin-bottom: -0.2em;
  background: var(--icon) no-repeat center / contain;
}

/* Two slashs */

.language-twoslash {
  display: none;
}

.twoslash-floating .twoslash-popup-code:has(.shiki) {
  padding: 0px !important;
}

.shiki .vitesse-dark {
  margin: 0 !important;
  padding: 12px !important;
}

.twoslash-completion-list .twoslash-completions-icon.completions-property {
  color: #cb7676 !important;
}
.twoslash-completion-list .twoslash-completions-icon.completions-property + span .twoslash-completions-unmatched {
  color: #cb7676 !important;
}

.twoslash-completion-list .twoslash-completions-icon.completions-method {
  color: #80a665 !important;
}
.twoslash-completion-list .twoslash-completions-icon.completions-method + span .twoslash-completions-unmatched {
  color: #80a665 !important;
}
